<!DOCTYPE html>
{% extends "iflogout/index.html" %}
{% load static %}
{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Tabs Titles -->
    <h2 class="active"><a href="{% url 'auto:login' %}">Sign In</a></h2>
    <h2 class="inactive underlineHover"><a href="{% url 'auto:registration' %}">Sign Up</a></h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img class="caricon" src="https://upload.wikimedia.org/wikipedia/commons/6/65/Circle-icons-car.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      <div class="line">
      {{form.username.label}}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
      </div>
      <div class="line">
      {{form.password1.label}}
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    {% for message in messages %}
      <p> {{message}}</p>
    {% endfor %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
{% endblock %}